<footer class='footer-wrapper'>
  <div class='footer-logo'>
    <img src="/assets/svgenius.webp" alt="logo" width="35">
    <p>SVGenius</p>
  </div>
  <div>Copyright &copy; SVGenius - All rights reserved {{ currentYear }} </div>
  <div class='footer-social'>
    <p>Follow us!</p>
    <a href="https://www.facebook.com/traktodesign" target='_blank' rel='noopener noreferrer'>
      <img src="/assets/social/facebook.webp" alt="Facebook logo" width="20">
    </a>
    <a href="https://www.instagram.com/traktodesign/" target='_blank' rel='noopener noreferrer'>
      <img src="/assets/social/instagram.webp" alt="Instagram logo" width="20">
    </a>
    <a href="https://twitter.com/TraktoDesign" target='_blank' rel='noopener noreferrer'>
      <img src="/assets/social/x.webp" alt="X logo" width="20">
    </a>
    <a href="https://www.youtube.com/c/Trakto" target='_blank' rel='noopener noreferrer'>
      <img src="/assets/social/youtube.webp" alt="Youtube logo" width="22">
    </a>
    <a href="https://www.linkedin.com/company/traktodesign/mycompany/" target='_blank' rel='noopener noreferrer'>
      <img src="/assets/social/linkedin.webp" alt="Linkedin logo" width="20">
    </a>
    <a href="https://br.pinterest.com/traktodesign/" target='_blank' rel='noopener noreferrer'>
      <img src="/assets/social/pinterest.webp" alt="Pinterest logo" width="20">
    </a>
    <a href="https://www.tiktok.com/@traktodesign" target='_blank' rel='noopener noreferrer'>
      <img src="/assets/social/tiktok.webp" alt="Tiktok logo" width="24">
    </a>
  </div>
</footer>
