<header class='header-container'>
  <div class='header-wrapper'>
    <div class='header-logo'>
      <img src="/assets/svgenius.webp" alt="logo" width="35">
      <p>SVGenius</p>
    </div>
    <nav class='header-links'>
      <a routerLink='/' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink='/editor' routerLinkActive='active'>Editor</a>
      <a routerLink='/pricing' routerLinkActive='active'>Pricing</a>
    </nav>
    <div>
      <img src="/assets/angular.png" alt="logo" width="35">
    </div>
  </div>
</header>
