<div class="canvas-wrapper">
  <canvas #canvasRef width="700" height="700" class="canvas-pad"></canvas>

  @if (this.store.showConfigPanel() && this.store.selectedShape()) {
    <div
      class="config-panel"
      [style.top]="this.store.configPanelPosition().top"
      [style.left]="this.store.configPanelPosition().left"
    >
      <div class="config-header">
        <h3>Configure {{ this.store.selectedShape()?.type }}</h3>
        <button (click)="this.store.closeConfigPanel()">✕</button>
      </div>

      <!-- Click on the shape you wish to make changes in order to see edit modal -->
      @if (this.store.configType() === 'rectangle') {
        <div>
          <label>Corner Radius:</label>
          <input
            type="range"
            min="0"
            max="50"
            [ngModel]="this.store.selectedShape()?.borderRadius || 0"
            (ngModelChange)="this.store.updateShapeConfig($event, 'borderRadius')"
          >
          <span>{{ this.store.selectedShape()?.borderRadius }}px</span>
        </div>
      }

      <!-- Click on the shape you wish to make changes in order to see edit modal -->
      @if (this.store.configType() === 'star') {
        <div class='config-star-panel'>
          <label>Points:</label>
          <input
            type="number"
            min="3"
            max="20"
            [ngModel]="this.store.selectedShape()?.points || 5"
            (ngModelChange)="this.store.updateShapeConfig(+$event, 'points')"
          >
        </div>
      }
    </div>
  }
</div>
